VITE_SUPABASE_URL=https://iuwfqjuperxltductdmk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1d2ZxanVwZXJ4bHRkdWN0ZG1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NDY4MzAsImV4cCI6MjA4ODAyMjgzMH0.vnBYSnWfIScxlFxHDnQ3n3mzNfuQ92iEgJO_XIFRbns
